.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {

    & a {
        color: $text;
        text-decoration: none;
        text-transform: uppercase;
        font-size: inherit;
        font-family: "Roboto-Medium", sans-serif;
        font-weight: 500;
        transition: 0.3s;
        letter-spacing: 1.5px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25%);


        &:hover {
            color: $blueLink;
        }
    }    

    &:not(:last-child) {
        margin-right: 52px;
    }
}

// menu burger

.menu__burger {
    width: 35px;
    position: relative;
    cursor: pointer;
    display: none;
    padding: 20px 0px;
    overflow: hidden;

    &-line {
        background-color: #000000;
        height: 2px;
        width: 100%;

        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            display: block;
            background-color: #000000;
            position: absolute;
            transition: 0.3s;
        }

        &::before {
            top: 10px;
        }

        &::after {
            bottom: 9px
        }
    }
}


@media screen and (max-width: 924px) {

    .menu__list {
        display: none;
        max-height: 0;
        position: absolute;
        background-color: #fff;
        text-align: center;
        left: 0;
        right: 0;
        margin-top: 70px;
        transition: 0.3s;
    }

    .menu__list.active-menu {
        display: block;
        max-height: 100%;
        // padding: 10px 0;
    }


    .menu__item {

        &:not(:last-child) {
            margin-right: 0;
        }

        & > a {
            transition: 0.3s;
            display: block;
            padding: 20px;

            &:hover {
                background-color: #a0a0a0;
                color: #ffffff;
            }
        }
    }

    .menu__burger {
        display: block;
    }
    
    .menu__burger.active  .menu__burger-line::before {
        transform: rotate(-45deg);
        top: 50%;
    }

    .menu__burger.active  .menu__burger-line::after {
        transform: rotate(50deg);
        top: 50%;
    }

    .menu__burger.active  .menu__burger-line {
        background: transparent;
    }
}